@if o-website-value('header-template')=='alan_header10' {
    $-menu-color: o-color('menu-custom') or o-color('menu');
    $header-color:          color('menu');
    $header-color-custom:   color('menu-custom');
    $header-color-gradient: color('menu-gradient');
    

    $h10_color: rgba($primary, 0.99999);

    @if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-dark) {
        $h10_color: rgba($as-white, 0.99999);
    }

    $header10_search: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect id='bound' x='0' y='0' width='24' height='24'></rect><path d='M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z' fill='#{$h10_color}' fill-rule='nonzero' opacity='0.3'></path><path d='M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z' fill='#{$h10_color}' fill-rule='nonzero'></path></g></svg>");
    $header10_wishlist: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><polygon id='Shape' points='0 0 24 0 24 24 0 24'></polygon><path d='M16.5,4.5 C14.8905,4.5 13.00825,6.32463215 12,7.5 C10.99175,6.32463215 9.1095,4.5 7.5,4.5 C4.651,4.5 3,6.72217984 3,9.55040872 C3,12.6834696 6,16 12,19.5 C18,16 21,12.75 21,9.75 C21,6.92177112 19.349,4.5 16.5,4.5 Z' id='Shape' fill='#{$h10_color}' fill-rule='nonzero'></path></g></svg>");
    $header10_cart: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect id='bound' x='0' y='0' width='24' height='24'></rect><path d='M14,9 L14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 L10,9 L8,9 L8,8 C8,5.790861 9.790861,4 12,4 C14.209139,4 16,5.790861 16,8 L16,9 L14,9 Z M14,9 L14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 L10,9 L8,9 L8,8 C8,5.790861 9.790861,4 12,4 C14.209139,4 16,5.790861 16,8 L16,9 L14,9 Z' id='Rectangle-58' fill='#{$h10_color}' fill-rule='nonzero' opacity='0.3'></path><path d='M6.84712709,9 L17.1528729,9 C17.6417121,9 18.0589022,9.35341304 18.1392668,9.83560101 L19.611867,18.671202 C19.7934571,19.7607427 19.0574178,20.7911977 17.9678771,20.9727878 C17.8592143,20.9908983 17.7492409,21 17.6390792,21 L6.36092084,21 C5.25635134,21 4.36092084,20.1045695 4.36092084,19 C4.36092084,18.8898383 4.37002252,18.7798649 4.388133,18.671202 L5.86073316,9.83560101 C5.94109783,9.35341304 6.35828794,9 6.84712709,9 Z' id='Combined-Shape' fill='#{$h10_color}'></path></g></svg>");
    $header10_user: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><polygon id='Shape' points='0 0 24 0 24 24 0 24'></polygon><path d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z' id='Mask' fill='#{$h10_color}' fill-rule='nonzero' opacity='0.3'></path><path d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z' id='Mask-Copy' fill='#{$h10_color}' fill-rule='nonzero'></path></g></svg>");
    $header10_home: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect id='bound' x='0' y='0' width='24' height='24'></rect><path d='M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z' id='Combined-Shape' fill='#{$h10_color}'></path></g></svg>");
    $header10_shop: url("data:image/svg+xml,<?xml version='1.0' encoding='UTF-8'?><svg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect id='bound' x='0' y='0' width='24' height='24'></rect><rect id='Rectangle-7' fill='#{$h10_color}' x='4' y='4' width='7' height='7' rx='1.5'></rect><path d='M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z' id='Combined-Shape' fill='#{$h10_color}' opacity='0.3'></path></g></svg>");
    $header10-loading: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$h10_color}' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");
    $header10-loading-light: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 255, 255)' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");



    .header-top {
        background: $as-black;
        color: $as-white;
        [class^="col-lg-"] {
            min-height: inherit;
        }
        .phone-number {
            color: inherit;

            a {
                color: inherit !important;
                font-size: 13px;
                text-decoration: none;
            }
        }

        .nav {
            justify-content: flex-end;
        }

        @include media-breakpoint-down(md) {
            .ht-user-login {
                margin-left: auto;

                >.nav-link {
                    span {
                        max-width: 95px;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: middle;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .dropdown-toggle {
                font-size: 12px !important;
            }
        }

        .ht-login-link {
            color: $as-white !important;
            padding: 0 10px;
            line-height: 35px;
            font-size: 13px;
            text-transform: uppercase;
            cursor: pointer;
            &.as-btn-loading {
                pointer-events: none;
                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 auto;
                    position: relative;
                    top: -2px;
                    background-image: $header10-loading-light;
                    animation: fa-spin 2s infinite linear;
                }
            }
        }

        .dropdown {
            .dropdown-toggle {
                color: $as-white !important;
                padding: 0 10px;
                line-height: 35px;
                font-size: 13px;
                text-transform: uppercase;
                background: transparent !important;
                box-shadow: none !important;
                display: flex;
                align-items: center;

                &:after {
                    content: "\f107";
                    font-family: FontAwesome;
                    border: 0;
                    vertical-align: top;
                    color: currentColor;
                }
            }
        }

        .ht-user {
            .dropdown-toggle {
                background: $primary !important;
            }
        }

        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            box-shadow: $box-shadow;
            .dropdown-item {
                padding: 0.55rem 1.7rem;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;

                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: none !important;
                    color: $primary !important;

                    &:hover {
                        background: none !important;
                        color: $primary !important;
                    }
                }
            }
        }
        .js_language_selector {
            border-left: 1px solid rgba($as-white, .2);
            padding-left: 10px;
            margin-right: 10px;

            .btn {
                color: inherit !important;
                padding: 0;
                line-height: 34px;
                font-size: 13px;
                text-transform: uppercase;
                background: transparent !important;
                box-shadow: none !important;
                color: $as-white;
            }
            .list-inline-item {
                padding: 0;
                line-height: 34px;
                font-size: 13px;
                text-transform: uppercase;
                background: transparent !important;
                box-shadow: none !important;
                text-decoration: none !important;
                color: $as-white;
                > * {
                    vertical-align: initial;
                }
                span {
                    text-decoration: none !important;
                }
            }
        }
    }

    .as-main-header {
        .navbar {
            padding: 15px;
        }

        @include media-breakpoint-up(lg) {
            .navbar {
                padding: 15px 0;
            }
            @if o-website-value('header-links-style')=='default' {
                .navbar-nav {
                    >.nav-item {
                        .nav-link {
                            padding: 0 0.7rem;
                            line-height: 50px;
                            font-weight: 500;
                            color: $as-dark;

                            @if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-dark) {
                                color: $as-white;
                            }

                            &.active {
                                color: $primary;

                                @if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-dark) {
                                    color: rgba($as-white, 0.8);
                                }
                            }
                        }

                        &:hover {
                            >.nav-link {
                                color: $primary;

                                @if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-dark) {
                                    color: rgba($as-white, 0.8);
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-right {
            position: relative;
            flex: 0 0 150px;
            max-width: 150px;

            .nav {
                >li {
                    +li {
                        margin-left: 6px;
                    }
                }
            }

            .hm-icon {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0;
                width: 42px;
                height: 42px;
                cursor: pointer;
                sup {
                    position: absolute;
                    top: 7px;
                    right: -1px;
                    border-radius: 50%;
                    font-weight: 400;
                    font-size: 10px;
                    border: 1px solid $as-white;
                    padding: 0;
                    min-width: 18px;
                    height: 18px;
                    line-height: 16px;
                }

                .fa {
                    width: 38px;
                    height: 38px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 auto;

                    &:before {
                        display: none;
                    }
                }

                span {
                    width: 100%;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 1;
                    padding-top: 5px;
                }

                .fa-shopping-cart {
                    background-image: $header10_cart;
                }

                .fa-heart {
                    background-image: $header10_wishlist;
                    position: relative;
                    top: 4px;
                }

                .fa-search {
                    background-image: $header10_search;
                }
            }

            .as-btn-loading {
                pointer-events: none;
                .hm-icon-cart {
                    .fa-shopping-cart {
                        background-image: $header10-loading;
                        background-size: 83%;
                        background-repeat: no-repeat;
                        background-position: center;
                        animation: fa-spin 2s infinite linear;
                    }
                }
            }
        }

    }


    // Large Screen Style
    .as-main-header {

        // Menu Styles
        // All mixin mentioned in common_header.scss
        @include media-breakpoint-up(lg) {
            .navbar-nav {

                // Nav Style pills
                @if o-website-value('header-links-style')=='pills' {
                    //$m-line-height, $m-margin-y, $m-margin-x, $m-padding-x, $m-padding-y, $m-font-weight
                    @include as-pill-menu(35px, 5px, 2px, 15px, 0px, 500);
                }

                // Nav Style Fill
                @if o-website-value('header-links-style')=='fill' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-fill-menu(45px, 2px, 0, 15px, 0px, 500, 3px);
                }

                // Nav Style outline
                @if o-website-value('header-links-style')=='outline' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-outline-menu(30px, 8px, 2px, 0, 10px, 500, 0px);
                }

                // Nav Block Style
                @if o-website-value('header-links-style')=='block' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-block-menu(45px, 0, 0, 0, 10px, 500, 0px);
                }

                // Border Bottom
                @if o-website-value('header-links-style')=='border-bottom' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border
                    @include as-border-menu(50px, 0, 10px, 0, 0px, 500, 0px);
                }
            }
        }
    }


    .mobile-header-10 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 111;
        box-shadow: 1px -4px 11px -2px rgba($as-dark, 0.13);
        background: $header-color;
        @include o-add-gradient('menu-gradient');
        @include o-apply-colors('menu-custom');

        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;

            .dropdown-item {
                padding: 0.55rem 1.7rem;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;

                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: none !important;
                    color: $primary !important;

                    &:hover {
                        background: none !important;
                        color: $primary !important;
                    }
                }
            }
        }

        .nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;

            a {
                text-decoration: none;
            }

            li {
                .hm-icon {
                    height: 47px;
                    width: 47px;
                    display: inline-flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    color: $as-white;

                    sup {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 50%;
                    }

                    i {
                        width: 38px;
                        height: 38px;
                        display: inline-flex;
                        vertical-align: middle;
                        align-items: center;
                        justify-content: center;

                        &:before {
                            display: none;
                        }
                    }
                }
            }

            .hm-icon-home {
                i {
                    background-image: $header10_home;
                }
            }

            .hm-icon-cart {
                cursor: pointer;
                i {
                    background-image: $header10_cart;
                }
            }

            .li-search-link {
                i {
                    background-image: $header10_search;
                    width: 24px;
                    height: 24px;
                }
            }

            .hm-icon-wishlist {
                i {
                    background-image: $header10_wishlist;
                }
            }

            .hm-user {
                .dropdown-toggle {
                    width: 47px;
                    display: block;
                    text-align: center;

                    &:after {
                        display: none;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border: 2px solid $as-white;
                    }
                }
            }

            .hm-icon-user {
                font-size: 0;

                &:before {
                    content: "";
                    width: 27px;
                    height: 27px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 auto;
                    position: relative;
                    top: -2px;
                    background-image: $header10_user;
                }
                &.as-btn-loading {
                    pointer-events: none;
                    &:before {
                        animation: fa-spin 2s infinite linear;
                        background-image: $header10-loading;
                    }
                }
            }

            .as-btn-loading {
                pointer-events: none;
                .hm-icon-cart {
                    i {
                        background-image: $header10-loading;
                        background-size: 83%;
                        background-repeat: no-repeat;
                        background-position: center;
                        animation: fa-spin 2s infinite linear;
                    }
                }
            }
        }
    }

    // wrapwarp bottom padding
    @include media-breakpoint-down(md) {
        #wrapwrap {
            padding-bottom: 57px;
        }
    }


    // Shop page
    @include media-breakpoint-down(md) {
        .o_wsale_products_main_row {
            .as-shop-top-filter{
                bottom: 58px;
            }
        }
        .as-product-sticky-cart {
            bottom: 70px;
        }
    }

}
