// Header Layout 1
@if o-website-value('header-template')=='alan_header1' {

    $-menu-color: o-color('menu-custom') or o-color('menu');

    $header1_wishlist: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' class='bi bi-heart' viewBox='0 0 16 16'><path d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'/></svg>");
    $header1_search: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
    $header1_user: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' class='bi bi-person' viewBox='0 0 16 16'><path d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z'/></svg>");
    $header1_cart: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' class='bi bi-cart' viewBox='0 0 16 16'><path d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/></svg>");
    $header1_shop: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'><path d='M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z'/></svg>");
    $header1_home: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'><path d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z'/></svg>");
    $header1-loading: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");


    $header1_dark_cart: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' class='bi bi-cart' viewBox='0 0 16 16'><path d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/></svg>");
    $header1_dark_wishlist: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' class='bi bi-heart' viewBox='0 0 16 16'><path d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'/></svg>");
    $header1_dark_search: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
    $header1_dark_user: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' class='bi bi-person' viewBox='0 0 16 16'><path d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z'/></svg>");
    $header1_dark_shop: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' class='bi bi-cart' viewBox='0 0 16 16'><path d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/></svg>");
    $header1_dark_home: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(52, 58, 64)' viewBox='0 0 16 16'><path d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z'/></svg>");
    $header1-loading-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,0,0)' viewBox='0 0 16 16'><path d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/><path fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/></svg>");    

    /* #wrapwrap:not(.o_header_overlay) .as_header_background {
        @include o-apply-colors('header-boxed');
        @include o-apply-colors('header-boxed-custom');
        @include o-add-gradient('header-boxed-gradient');
    } */

    // Dropdown menu
    .as-main-header {
        background: $as-white;
        color: $as-white;

        .navbar {
            padding: 0;
        }

        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            box-shadow: $box-shadow;
            .dropdown-item {
                padding: 0.55rem 1.7rem;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;

                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: none !important;
                    color: $primary !important;

                    &:hover {
                        background: none !important;
                        color: $primary !important;
                    }
                }
            }
        }
    }

    // Header Top
    .header-top {
        .phone-number {
            color: inherit;

            a {
                color: inherit !important;
                font-size: 13px;
                text-decoration: none;
            }
        }

        .o_pricelist_dropdown {
            .btn {
                color: inherit !important;
                padding: 0;
                line-height: 35px;
                font-size: 13px;
                text-transform: uppercase;
                background: transparent !important;
                box-shadow: none !important;
            }
        }

        .js_language_selector {
            .btn {
                color: inherit !important;
                padding: 0;
                line-height: 35px;
                font-size: 13px;
                text-transform: uppercase;
                background: transparent !important;
                box-shadow: none !important;
            }
            .list-inline {
                span {
                    &.list-inline-item {
                        opacity: 0.5;
                        font-weight: 300;
                    }
                }
                .list-inline-item {
                    padding: 0;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: inherit;
                    line-height: 35px;
                    text-decoration: none;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                    span {
                        text-decoration: none;
                    }
                    &:hover {
                        color: inherit;
                    }
                    &.active {
                        img {
                            border: 2px solid $as-white;
                        }
                    }
                }
            }
        }

        .ht-search {
            margin-left: auto;

            .ht-icon {
                height: 35px;
                width: 30px;
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: $as-white;

                .ht-search-icon {
                    width: 18px;
                    height: 18px;
                    background: $header1_search;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }

    // Header Middle
    .header-middle {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($as-dark, 0.1);
        position: relative;

        .hm-right {
            justify-content: flex-end;

            li {
                +li {
                    margin-left: 20px;
                }

                a {
                    text-decoration: none;
                    color: $as-dark;
                }

                &.as-mini-cart {
                    .hm-icon {
                        cursor: pointer;
                    }
                    span {
                        color: $as-dark;
                    }
                }

                .hm-icon {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0;

                    sup {
                        position: absolute;
                        top: -6px;
                        right: 7px;
                        border-radius: 50%;
                        font-weight: 400;
                        font-size: 11px;
                    }

                    .fa {
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 auto;

                        &:before {
                            display: none;
                        }
                    }

                    span {
                        width: 100%;
                        display: inline-block;
                        vertical-align: top;
                        font-size: 12px;
                        text-transform: uppercase;
                        line-height: 1;
                        padding-top: 5px;
                    }
                }

                .hm-icon-user {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: $as-dark;
                    cursor: pointer;
                    &:before {
                        content: "";
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 auto;
                        position: relative;
                        top: -2px;
                        background-image: $header1_dark_user;
                    }
                    &.as-btn-loading {
                        pointer-events: none;
                        &:before {
                            animation: fa-spin 2s infinite linear;
                            background-image: $header1-loading-dark;
                        }
                    }
                }

                .hm-icon-cart {
                    .fa-shopping-cart {
                        background-image: $header1_dark_cart;
                    }
                }
                &.as-btn-loading {
                    pointer-events: none;
                    .hm-icon-cart {
                        .fa-shopping-cart {
                            animation: fa-spin 2s infinite linear;
                            background-image: $header1-loading-dark;
                        }
                    }
                }

                .hm-icon-wishlist {
                    .fa-heart {
                        background-image: $header1_dark_wishlist;
                    }
                }

                &.hm-user {
                    a {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .dropdown-toggle {
                        &:after {
                            display: none;
                        }

                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }

                    .dropdown-menu {
                        border-radius: 0;
                        border: none;
                    }
                }
            }
        }

        .header-search {
            .form-control {
                border-radius: 0;
                box-shadow: none !important;
            }

            .oe_search_button {
                border-radius: 0;
                box-shadow: none !important;
            }
        }

        @include media-breakpoint-up(lg) {
            .navbar-toggler {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            .header-search {
                position: absolute;
                top: 0;
                left: 0;
                background: $as-white;
                padding: 0;
                min-height: inherit;
                box-shadow: $box-shadow-sm;

                form {
                    padding: 20px;
                }
            }
        }
    }



    // Large Screen Style
    .as-main-header {

        // Default Nav Style
        @include media-breakpoint-up(lg) {
            .navbar {
                .navbar-nav {
                    >.nav-item {
                        +.nav-item {
                            @if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-dark) {
                                border-left: 1px solid rgba($as-white, 0.1);
                            }

                            @else if ($-menu-color and color-yiq($-menu-color) !=$yiq-text-light) {
                                border-left: 1px solid rgba($as-dark, 0.1);
                            }
                        }

                        >.nav-link {
                            @if o-website-value('header-links-style')=='default' {
                                padding: 0 1rem;
                                line-height: 50px;
                                font-weight: 500;
                                position: relative;

                                &.dropdown-toggle {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        border-bottom: 5px solid currentColor;
                                        border-left: 5px solid transparent;
                                        border-right: 5px solid transparent;
                                        width: 1px;
                                        opacity: 0;
                                    }
                                }
                            }
                        }

                        &.show {
                            >.nav-link {
                                @if o-website-value('header-links-style')=='default' {
                                    &.dropdown-toggle {
                                        &:before {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }

                        .dropdown-menu {
                            border: 1px solid rgba($as-dark, 0.1);
                            padding: 5px 10px;

                            >li {
                                +li {
                                    border-top: 1px solid rgba($as-dark, 0.1);
                                }

                                a {
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }


        // Menu Styles
        // All mixin mentioned in common_header.scss
        @include media-breakpoint-up(lg) {
            .navbar-nav {

                // Nav Style pills
                @if o-website-value('header-links-style')=='pills' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight
                    @include as-pill-menu(35px, 8px, 10px, 17px, 0px, 500);
                }

                // Nav Style Fill
                @if o-website-value('header-links-style')=='fill' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-fill-menu(50px, 0, 0, 17px, 0px, 500, 0px);
                }

                // Nav Style outline
                @if o-website-value('header-links-style')=='outline' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-outline-menu(30px, 7px, 8px, 0, 12px, 500, 0px);

                    >.nav-item {
                        border: none !important;
                    }
                }

                // Nav Block Style
                @if o-website-value('header-links-style')=='block' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border-radius
                    @include as-block-menu(50px, 0, 0, 0, 12px, 500, 0px);

                    >.nav-item {
                        border: none !important;
                    }
                }

                // Border Bottom
                @if o-website-value('header-links-style')=='border-bottom' {
                    //$m-line-height, $m-margin-x, $m-margin-y, $m-padding-x, $m-padding-y, $m-font-weight, $m-border
                    @include as-border-menu(50px, 0, 0, 0, 12px, 500, 0px);

                    >.nav-item {
                        border: none !important;
                    }
                }
            }
        }

        // Toggle Button
        button.navbar-toggler {
            padding: 0;
            width: 42px;
            height: 42px;
            position: relative;
            outline: none !important;
            box-shadow: none !important;
            color: $as-black;
            overflow: hidden;

            .navbar-toggler-icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: currentColor;
                height: 2px;
                box-shadow: 0 -10px 0 0px currentColor, 0px 10px 0 0px currentColor;
                width: 30px;
                transition: ease transform 0.35s;
            }
        }
    }


    // End Mobile Header 1
    .mobile-header-1 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($as-black, 0.75);
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        z-index: 111;

        .dropdown-menu {
            border: none;
            border-radius: 0px;
            margin: 0;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;

            .dropdown-item {
                padding: 0.55rem 1.7rem;
                font-size: 15px;
                text-decoration: none;
                font-weight: 400;
                color: $as-dark !important;
                background: $as-white !important;

                span {
                    text-decoration: none;
                }

                &:hover,
                &.active {
                    background: none !important;
                    color: $primary !important;

                    &:hover {
                        background: none !important;
                        color: $primary !important;
                    }
                }
            }
        }

        .nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;

            a {
                text-decoration: none;
            }

            li {
                .hm-icon {
                    height: 47px;
                    width: 47px;
                    display: inline-flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    color: $as-white;

                    sup {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 50%;
                    }

                    i {
                        width: 27px;
                        height: 27px;
                        display: inline-flex;
                        vertical-align: middle;
                        align-items: center;
                        justify-content: center;

                        &:before {
                            display: none;
                        }
                    }
                }
            }

            .hm-icon-home {
                i {
                    background-image: $header1_home;
                }
            }

            .hm-icon-cart {
                i {
                    background-image: $header1_cart;
                }
            }

            .as-btn-loading {
                .hm-icon-cart {
                    i {
                        background-image: $header1-loading;
                        animation: fa-spin 2s infinite linear;
                    }
                }
            }

            .hm-icon-shop {
                background: $primary;
                border-radius: 50%;

                i {
                    background-image: $header1_shop;
                    width: 24px;
                    height: 24px;
                }
            }

            .hm-icon-wishlist {
                i {
                    background-image: $header1_wishlist;
                }
            }

            .hm-user {
                .dropdown-toggle {
                    width: 47px;
                    display: block;
                    text-align: center;

                    &:after {
                        display: none;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border: 2px solid $as-white;
                    }
                }
            }

            .hm-icon-user {
                font-size: 0;
                cursor: pointer;
                &:before {
                    content: "";
                    width: 27px;
                    height: 27px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 auto;
                    position: relative;
                    top: -2px;
                    background-image: $header1_user;
                }
                &.as-btn-loading {
                    pointer-events: none;
                    &:before {
                        animation: fa-spin 2s infinite linear;
                        background-image: $header1-loading;
                    }
                }
            }
        }
    }


    // wrapwarp bottom padding
    @include media-breakpoint-down(md) {
        #wrapwrap {
            padding-bottom: 57px;
        }
    }
    // Shop page
    @include media-breakpoint-down(md) {
        .o_wsale_products_main_row {
            .as-shop-top-filter{
                bottom: 57px;
            }
        }
        .as-product-sticky-cart {
            bottom: 70px;
        }
    }

}

// End @if