.as-blog-snippet {
	padding-top: 40px;
	padding-bottom: 40px;
}

.as-blog-snippet {
	.swiper {
		.swiper-button-next {
			right: -5px;
		}
		.swiper-button-prev {
			left: -5px;
		}
		.swiper-button-next,
		.swiper-button-prev {
		    top: 0;
		    bottom: 50px;
		    margin: auto;
		    width: 25px;
    		height: 45px;
    		background: $as-dark;
    		color: $as-white;
    		opacity: 0;
    		transition: ease all 0.35s;
    		z-index: 1;
    		&:after {
    			font-size: 17px;
    		}
		}
		&:hover {
			.swiper-button-next {
				opacity: 1;
				right: 0;
			}
			.swiper-button-prev {
				opacity: 1;
				left: 0;
			}
			.swiper-button-disabled {
				opacity: 0.5;
			}
		}
	}
	.swiper-pagination {
		position: relative;
		margin-top: 25px;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		.swiper-pagination-bullet {
			width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			font-size: 10px;
			color: $as-black;
			opacity: 1;
			background: rgba($as-black, 0.2);
			margin: 0 3px;
			&.swiper-pagination-bullet-active {
				background: $primary;
				color: $as-white;
			}
		}
	}

	.swiper-pagination-fraction {
	    display: inline-flex;
	    justify-content: center;
	    font-size: 12px;
	    align-items: center;
	    span {
			background: $as-gray-300;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			margin: 0 7px;
			font-size: 16px;
			display: inline-block;
			align-items: center;
			justify-content: center;
			&.swiper-pagination-current {
				background: $primary;
				color: $as-white;
			}
	    }
	}

	.swiper-slide{
		height: auto;
	}
}

/* Blog Style 1
----------------------------------------------*/
.as-blog-style1 {
	.as-blog-post {
		height: 100%;
	    display: flex;
	    flex-direction: column;
		.as-b-img-bg {
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center;
		    &:after {
		    	content: "";
			    padding-bottom: 65%;
			    display: inline-block;
			    vertical-align: top;
		    }
		}
		.as-b-info {
		    padding: 15px;
		    margin: -30px 10px 0;
		    position: relative;
		    z-index: 1;
		    background: $as-white;
		    box-shadow: $box-shadow-sm;
		    flex: 1;
		    .as-b-time {
	    	    margin-top: -30px;
				margin-bottom: 15px;
				span {
					background: $primary;
				    display: inline-block;
				    padding: 6px 20px;
				    border-radius: 30px;
				    color: $as-white;
				    font-size: 13px;
				}
		    }
		    .as-b-title {
		    	margin-bottom: 10px;
		    	a {
		    		font-weight: 600;
				    font-size: 20px;
				    color: $as-dark;
				    text-decoration: none;
		    	}
		    }
		    .as-b-desc {
		    	margin-bottom: 10px;
		    }
		    .as-b-link {
		    	font-weight: 600;
		    	text-transform: uppercase;
		    	letter-spacing: 1px;
		    	font-size: 12px;
		    	color: $primary;
		    	text-decoration: none;
		    }
		}
	}
}


/* Blog Style 2
----------------------------------------------*/
.as-blog-style2 {
	.as-blog-post {
		border: 1px solid $as-gray-300;
		position: relative;
		height: 100%;
		.as-b-img {
			overflow: hidden;
		}
		.as-b-img-bg {
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center;
		    transition: ease all 0.35s;
		    transform: scale(1);
		    &:after {
		    	content: "";
			    padding-bottom: 65%;
			    display: inline-block;
			    vertical-align: top;
		    }
		}
		.as-b-info {
		    padding: 15px;
		    background: $as-white;
		    .as-b-time {
	    	    position: absolute;
	    	    left: 10px;
	    	    top: 10px;
				span {
					background: $primary;
				    display: inline-block;
				    padding: 6px 20px;
				    border-radius: 30px;
				    color: $as-white;
				    font-size: 13px;
				}
		    }
		    .as-b-title {
		    	margin-bottom: 10px;
		    	a {
		    		font-weight: 600;
				    font-size: 20px;
				    color: $as-dark;
				    text-decoration: none;
		    	}
		    }
		    .as-b-desc {
		    	margin-bottom: 10px;
		    }
		    .as-b-link {
		    	font-weight: 600;
		    	text-transform: uppercase;
		    	letter-spacing: 1px;
		    	font-size: 12px;
		    	color: $primary;
		    	text-decoration: none;
		    }
		}
		&:hover {
			.as-b-img-bg {
				transform: scale(1.05);
			}
		}
	}
}

/* Blog Style 3
----------------------------------------------*/
.as-blog-style3 {
	.as-blog-post {
		position: relative;
		padding: 50% 30px 30px;
		border-radius: 10px;
		overflow: hidden;
		display: flex;
	    flex-direction: column;
	    height: 100%;
	    justify-content: flex-end;
		.as-b-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			&:after {
				content:"";
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: linear-gradient(to bottom, rgba($as-dark, 0) 0%, rgba($as-black, 0.8) 70%);
			}
			.as-b-img-bg  {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
			}
		}
		.as-b-info {
		    .as-b-time {
	    	    margin-bottom: 10px;
				span {
					background: $as-white;
				    display: inline-block;
				    padding: 6px 20px;
				    border-radius: 3px;
				    color: $as-dark;
				    font-size: 13px;
				}
		    }
		    .as-b-title {
		    	margin-bottom: 10px;
		    	a {
		    		font-weight: 600;
				    font-size: 20px;
				    color: $as-white;
				    text-decoration: none;
		    	}
		    }
		    .as-b-desc {
		    	margin-bottom: 10px;
		    	color: rgba($as-white, 0.8);
		    }
		    .as-b-link {
		    	font-weight: 600;
		    	text-transform: uppercase;
		    	letter-spacing: 1px;
		    	font-size: 12px;
		    	color: $as-white;
		    	text-decoration: none;
		    	&:after {
		    		content:"";
		    		position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 1;
		    	}
		    }
		}
		&:hover {
			.as-b-img {
				&:after {
					-webkit-backdrop-filter: saturate(180%) blur(5px);
		    		backdrop-filter: saturate(180%) blur(5px);
				}
			}
		}
	}
}

/* Blog Style 4
----------------------------------------------*/
.as-blog-style4 {
	.as-blog-post {
		.as-b-img {
			.as-b-img-bg {
				background-position: center;
    			background-size: cover;
				&:after {
					content: "";
					display: inline-block;
					vertical-align: top;
					padding-bottom: 70%;

				}
			}
		}
		.as-b-info {
			text-align: center;
		    display: flex;
		    flex-direction: column;
		    padding: 20px 15px 0;
		    .as-b-link {
		    	display: none;
		    }
		    .as-b-time {
		    	order: 4;
			    font-size: 13px;
			    opacity: 0.8;
		    }
		    .as-b-title {
		    	a {
	    		    font-size: 20px;
				    color: inherit !important;
				    font-weight: 600;
				    text-decoration: none;
		    	}
		    }
		    .as-b-desc {
		    	opacity: 0.8;
			    font-size: 15px;
			    font-weight: 400;
			    margin-bottom: 10px;
		    }
		}
	}
}



/* Columns
----------------------------------------------*/
.as-blog-grid-snippet {
	.as-category-row {
		display:  flex;
		flex-wrap: wrap;
		margin-right: -10px;
		margin-left: -10px;
		@include media-breakpoint-down(sm) {
			margin-right: -5px;
			margin-left: -5px;
		}
		.as-blog-col {
			padding: 10px;
		    flex-basis: 0;
		    flex-grow: 1;
		    max-width: 100%;
		    display: flex;
    		flex-direction: column;
    		@include media-breakpoint-down(sm) {
    			padding: 5px;
    		}
		}
	}
}

.as-blog-grid-1 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

.as-blog-grid-2 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 calc(100% / 2);
			max-width: calc(100% / 2);
			@include media-breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}


.as-blog-grid-3 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 calc(100% / 3);
			max-width: calc(100% / 3);
			@include media-breakpoint-down(md) {
				flex: 0 0 calc(100% / 2);
				max-width: calc(100% / 2);
			}
			@include media-breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.as-blog-grid-4 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 calc(100% / 4);
			max-width: calc(100% / 4);
			@include media-breakpoint-down(lg) {
				flex: 0 0 calc(100% / 3);
				max-width: calc(100% / 3);
			}
			@include media-breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.as-blog-grid-5 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 calc(100% / 5);
			max-width: calc(100% / 5);
			@include media-breakpoint-down(lg) {
				flex: 0 0 calc(100% / 4);
				max-width: calc(100% / 4);
			}
			@include media-breakpoint-down(md) {
				flex: 0 0 calc(100% / 3);
				max-width: calc(100% / 3);
			}
			@include media-breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.as-blog-grid-6 {
	.as-category-row {
		.as-blog-col {
			flex: 0 0 calc(100% / 6);
			max-width: calc(100% / 6);
			@include media-breakpoint-down(lg) {
				flex: 0 0 calc(100% / 4);
				max-width: calc(100% / 4);
			}
			@include media-breakpoint-down(md) {
				flex: 0 0 calc(100% / 3);
				max-width: calc(100% / 3);
			}
			@include media-breakpoint-down(sm) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}