:root {
    --swiper-theme-color: #{$primary};
}



// Min Height
$vhHeight: () !default;
$vhHeight: map-merge((
    50: 50vh,
    60: 60vh,
    70: 70vh,
    75: 75vh,
    80: 80vh,
    85: 85vh,
    90: 90vh,
    100: 100vh,
),
$vhHeight);


@each $VhClass, $VHvalue in $vhHeight {
    .min-vh-#{$VhClass} {
        min-height: $VHvalue;
    }
}

// Min Height
$MinHeight: () !default;
$MinHeight: map-merge((
    250: 250px,
    300: 300px,
    350: 350px,
    400: 400px,
    450: 450px,
    500: 500px,
    600: 600px,
),
$MinHeight);


@each $MClass, $Mvalue in $MinHeight {
    .min-h-#{$MClass} {
        min-height: $Mvalue;
    }
}


/* Font wight
--------------------*/
@for $i from 1 through 9 {
    .fw-#{$i * 100} {
        font-weight: #{$i * 100} !important;
    }
}

/* Font wight
--------------------*/
@for $i from 1 through 9 {
    .z-index-#{$i} {
        z-index: #{$i} !important;
    }
}



/* Image
----------------------------*/
img {
    max-width: 100%;
}

/* Container
----------------------------*/
@media(min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/* Line Button
----------------------------*/
.line-btn {
    position: relative;
    text-decoration: none !important;
    &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: auto;
        right: 0;
        height: 2px;
        width: 100%;
        background: currentColor;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
    }
    &:hover {
        &:after {
            left: 0;
            right: auto;
            width: 0;
        }
    }
}


.video-btn {
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    transition: ease all 0.55s;
    z-index: 1;
    border: none;
    font-size: 0px;
    padding: 0;
    white-space: nowrap;
    color: transparent !important;
    background: $as-white;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &:before {
        color: $primary;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid currentcolor;
        width: 0px;
        height: 0px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
        pointer-events: none;
        z-index: -1;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}



.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.border-white-rgba {
    border-color: rgba(255,255,255,.2) !important;
}



@function as-yiq-color($color, $light: $as-yiq-light-text, $dark: $as-yiq-dark-text) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    $yiq: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;

    @if ($yiq >= $as-yiq-contrasted-threshold) {
        @return $dark;
    } @else {
        @return $light;
    }
}


// css_quantity mixin

@mixin as_css_quantity {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    border: 1px solid $as-gray-300;
    width: 130px;
    .btn {
        border: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        background: none !important;
        position: relative;
        padding: 0 13px;
        &:hover {
            background: $as-gray-300 !important;
        }
    }
    .input-group-prepend {
        border-right: 1px solid $as-gray-300;
        margin:0;
        .fa {
            &:before {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 9px;
                height: 1px;
                background: $as-dark;
            }
        }
    }
    .input-group-append {
        border-left: 1px solid $as-gray-300;
        margin:0;
        .fa {
            &:after,
            &:before {
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: $as-dark;
            }
            &:after {
                height: 9px;
                width: 1px;
            }
            &:before {
                width: 9px;
                height: 1px
            }
        }
    }
    .quantity {
        border: none;
        height: 40px;
        max-width: 100%;
        background: $as-white;
        box-shadow: none !important;
    }
}



#oe_main_menu_navbar {
    .dropdown {
        .dropdown-menu {
            max-height: 60vh;
            overflow-y: auto;
        }
    }
}



.editor_enable {
    div[data-snippet="as_dynamic_faq_snippet"],
    .as_faq_slider,
    .as_product_variant_slider,
    .as_product_slider,
    .as_product_offer,
    .as_product_banner_slider,
    .as_latest_product,
    .as_cat_slider,
    .as_cat_product_slider,
    .as_brand_slider,
    .as_brand_product_slider,
    .as_blog_slider,
    .as_best_seller_product {
        .seaction-head {
            text-align: center;
            padding: 30px 0;
            border: 1px dashed #ddd;
            margin: 20px 0;
            h2 {
                font-size: 20px;
                color: #343a40;
            }
        }
    }
}