/* Button style 1
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_1' {
	.as-btn {
	    border-radius: 30px;
	    font-size: 14px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    line-height: 1.5;
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26) !important;
	        }
	    }
	    &:active,
	    &:focus {
	        box-shadow: none !important;
	    }
	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-white;

	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:focus,
	            &:hover {
	                background: $primary !important;
	                color: $as-white !important;
	                border-color: $primary !important;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:focus,
	            &:hover {
	                background: darken($primary, 10%) !important;
	                color: $as-white !important;
	                border-color: darken($primary, 10%) !important;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:focus,
	            &:hover {
	                background: darken($primary, 10%) !important;
	                color: $as-white !important;
	                border-color: darken($primary, 10%) !important;
	            }
	        }
	    }
	}
}


/* Button style 2
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_2' {
	.as-btn {
	    border-radius: 3px;
	    font-size: 14px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    &:after {
	        content: "";
	        position: absolute;
	        top: 0;
	        bottom: 0;
	        left: auto;
	        right: 0;
	        width: 0;
	        z-index: -1;
	        transition: ease all 0.35s;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            &:after {
	                left: 0;
	                right: auto;
	                width: 100%;
	            }
	        }
	    }
	    &:active,
	    &:focus {
	        box-shadow: none !important;
	    }
	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $as-white;
	                &:after {
	                    background: $as-dark;
	                }
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $primary;
	                &:after {
	                    background: $primary;
	                }
	            }
	            &:active,
	            &:focus {
	                color: $as-white !important;
	                border-color: $primary !important;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: darken($primary, 10%);
	                &:after {
	                    background: darken($primary, 10%);
	                }
	            }
	            &:active,
	            &:focus {
	                color: $as-white !important;
	                border-color: darken($primary, 10%) !important;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: darken($primary, 10%);
	                &:after {
	                    background: darken($primary, 10%);
	                }
	            }
	            &:active,
	            &:focus {
	                color: $as-white !important;
	                border-color: darken($primary, 10%) !important;
	            }
	        }
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $primary;
	                &:after {
	                    background: $primary;
	                }
	            }
	            &:active,
	            &:focus {
	                color: $as-white !important;
	                border-color: $primary !important;
	            }
	        }
	    }
	}
}

/* Button style 3
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_3' {
	.as-btn {
	    border-radius: 3px;
	    font-size: 14px;
	    border: 2px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	        }
	        &:focus {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26) !important;   
	        }
	    }
	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: transparent;
	        color: $as-white;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-dark;
	                border-color: $as-white;
	                background: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: transparent;
	        color: $as-dark;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:hover {
	                background: $as-dark !important;
	                color: $as-white !important;
	                border-color: $as-dark !important;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: transparent;
	        color: $primary;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:hover {
	                background: $primary !important;
	                color: $as-white !important;
	                border-color: $primary !important;
	            }
	        }
	    }

	    &.btn-secondary {
	        background: transparent;
	        color: $as-dark;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:hover {
	                background: $as-dark !important;
	                color: $as-white !important;
	                border-color: $as-dark !important;
	            }
	        }
	    }
	    &.btn-primary {
	        background: transparent;
	        color: $primary;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:active,
	            &:hover {
	                background: $primary !important;
	                color: $as-white !important;
	                border-color: $primary !important;
	            }
	        }
	    }
	}
}

/* Button style 4
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_4' {
	.as-btn {
	    font-size: 13px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s;
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    text-transform: uppercase;
	    border-radius: 0 !important;
	    &:before,
	    &:after {
	        content: "";
	        height: 0;
	        width: 2px;
	        background: currentColor;
	        z-index: 1;
	        position: absolute;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    }

	    &:before {
	        top: 0;
	        left: 5px;
	        bottom: auto;
	    }

	    &:after {
	        top: auto;
	        right: 5px;
	        bottom: 0;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            &:after {
	                top: 0;
	                bottom: auto;
	                height: 100%;
	            }
	            &:before {
	                top: auto;
	                bottom: 0;
	                height: 100%;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-white;
	                color: $as-dark;
	                border-color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	}
	
}

/* Button style 5
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_5' {
	.as-btn {
	    font-size: 13px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    text-transform: uppercase;
	    border-radius: 0 !important;
	    &:before,
	    &:after {
	        content: "";
	        height: 0;
	        width: 0;
	        z-index: 1;
	        position: absolute;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        opacity: 0;
	    }

	    &:before {
	        top: 2px;
	        left: 2px;
	        border-top: 1px solid currentColor;
	        border-left: 1px solid currentColor;
	    }

	    &:after {
	        right: 2px;
	        bottom: 2px;
	        border-bottom: 1px solid currentColor;
	        border-right: 1px solid currentColor;
	    }
	    &:hover {
	        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	        &:after,
	        &:before {
	            width: 80%;
	            height: 80%;
	            opacity: 1;
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {            
	            &:hover {
	                background: $as-white;
	                color: $as-dark;
	                border-color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	}
}

/* Button style 6
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_6' {
	.as-btn {
	    font-size: 13px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    text-transform: uppercase;
	    border-radius: 20% 10% 30% 20% / 20% 60% 30% 20%;
	    &:after {
	        content: "";
	        z-index: 1;
	        position: absolute;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        border-radius: 20% 10% 30% 20% / 20% 60% 30% 20%;
	        left: 2px;
	        right: 2px;
	        bottom: 2px;
	        top: 2px;
	        border: 1px solid CurrentColor;
	        opacity: 0;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            &:after {
	                opacity: 1;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-white;
	                color: $as-dark;
	                border-color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	}
}

/* Button style 7
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_7' {
	.as-btn {
	    font-size: 13px;
	    border: 2px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    text-transform: uppercase;
	    border-radius: 50px;
	    &:after {
	        content: "";
	        z-index: -1;
	        position: absolute;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        left: auto;
	        right: 0;
	        bottom: 0;
	        top: 0;
	        width: 0;
	        height: 100%;
	        background-image: linear-gradient(315deg, $primary 0%, $as-black 74%);
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            &:after {
	                width: 150%;
	                left: 0;
	                right: auto;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {            
	            &:hover {
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }

	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {            
	            &:hover {
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	    
	}	
}

/* Button style 8
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_8' {
	.as-btn {
	    font-size: 13px;
	    border: 2px solid ;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s;
	    background-image: linear-gradient(to right, $primary 0%, $primary  51%, darken($primary, 10%)  100%);
	    color: $as-white;
	    line-height: 1.5;
	    border-radius: 50px;
	    background-position: left center;
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            background-image: linear-gradient(to right, $primary 0%, $as-dark  51%, darken($primary, 10%)  100%);
	            color: $as-white;
	            background-position: right center;
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.btn-secondary,
	    &.as-btn-dark {
	        color: $as-white;
	        border-color: $as-dark;
	        background-image: linear-gradient(to right, $as-dark 0%, $as-dark  51%, lighten($as-dark, 10%)  100%);
	        background-size: 200% auto;
	        background-position: left center;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background-image: linear-gradient(to right, $as-dark 0%, $primary  51%, lighten($as-dark, 10%)  100%);
	                color: $as-white;
	                background-position: right center;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary,
	    &.as-btn-theme {
	        color: $as-white;
	        border-color: $primary;
	        background-image: linear-gradient(to right, $primary 0%, $primary  51%, lighten($primary, 10%)  100%);
	        background-size: 200% auto;
	        background-position: left center;
	        &:not(:disabled),
	        &:not(.disabled) {            
	            &:hover {
	                background-image: linear-gradient(to right, $primary 0%, $as-dark  51%, lighten($primary, 10%)  100%);
	                color: $as-white;
	                border-color: $primary;
	                background-position: right center;
	            }
	        }
	    }
	}
}

/* Button style 9
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_9' {
	.as-btn {
	    font-size: 13px;
	    border: none;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    border-radius: 3px;
	    color: $as-white;
	    background-image: linear-gradient(to right, $primary 0%, darken($primary, 10%)  51%, $primary  100%);
	    background-size: 200% auto;
	    position: relative;
	    z-index: 1;
	    &:after {
	        content: "";
	        position: absolute;
	        top: 2px;
	        left: 2px;
	        right: 2px;
	        bottom: 2px;
	        border: 1px dashed currentColor;
	        opacity:0;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            color: $as-white;
	            background-position: right center;
	            &:after {
	                opacity:1;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.btn-secondary,
	    &.as-btn-dark {
	        color: $as-white;
	        background-image: linear-gradient(to right, $as-dark 0%, darken($as-dark, 10%)  51%, $as-dark  100%);
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background-image: linear-gradient(to right, $as-dark 0%, $as-dark  51%, lighten($as-dark, 10%)  100%);
	                color: $as-white;
	                background-position: right center;
	            }
	        }
	    }
	    &.btn-primary,
	    &.as-btn-theme {
	         color: $as-white;
	        background-image: linear-gradient(to right, $primary 0%, themeen($primary, 10%)  51%, $primary  100%);
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background-image: linear-gradient(to right, $primary 0%, $primary  51%, lighten($primary, 10%)  100%);
	                color: $as-white;
	                background-position: right center;
	            }
	        }
	    }
	}
	
}

/* Button style 10
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_10' {
	.as-btn {
	    font-size: 13px;
	    border: none;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s;
	    line-height: 1.5;
	    border-radius: 50px;
	    color: $as-white;
	    background-image: linear-gradient(to bottom left, $primary, $as-dark);
	    background-size: 200% auto;
	    position: relative;
	    z-index: 1;
	    &:after {
	        content: "";
	        position: absolute;
	        top: 2px;
	        left: 2px;
	        right: 2px;
	        bottom: 2px;
	        border: 1px solid currentColor;
	        border-radius: 50px;
	        opacity:0;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            color: $as-white;
	            background-image: linear-gradient(to bottom left, $as-dark, $primary);
	            box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.11);
	            &:after {
	                opacity:1;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	}
}

/* Button style 11
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_11' {
	.as-btn {
	    font-size: 13px;
	    border: none;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    border-radius: 50px;
	    color: $as-white;
	    background: $primary;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    &:after {
	        content: "";
	        position: absolute;
	        top: 0;
	        left: 0;
	        right: auto;
	        bottom: 0;
	        width: 0px;
	        background-image: linear-gradient(to bottom left, $primary, rgba($primary, 0.0));
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        z-index: -1;
	    }
	    &:before {
	        content: "";
	        position: absolute;
	        top: 0;
	        left: auto;
	        right: 0;
	        bottom: 0;
	        width: 0px;
	        background-image: linear-gradient(to bottom left, rgba($primary, 0.0), $as-dark);
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        z-index: -1;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            color: $as-white;
	            background: transparent;
	            box-shadow: 0px 10px 10px -1px rgba(0, 0, 0, 0.11);
	            &:after {
	                left: auto;
	                right: 0;
	                width: 100%;
	                background-size: 200% auto;
	            }
	            &:before {
	                left: 0;
	                right: auto;
	                width: 100%;
	                background-size: 200% auto;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	    }
	}
}


/* Button style 12
-------------------------------------------------*/
@if o-website-value('custom-buttom')=='alan_btn_12' {
	.as-btn {
	    font-size: 13px;
	    border: 1px solid;
	    padding: 10px 25px;
	    font-weight: 500;
	    text-align: center;
	    text-decoration: none !important;
	    box-shadow: none;
	    outline: none;
	    display: inline-block;
	    transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	    line-height: 1.5;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    text-transform: uppercase;
	    border-radius: 40px;
	    &:after {
	        content: "";
	        z-index: 1;
	        position: absolute;
	        transition: cubic-bezier(0.4, 0, 1, 1) all 0.35s; 
	        border-radius: 40px;
	        left: 2px;
	        right: 2px;
	        bottom: 2px;
	        top: 2px;
	        border: 1px solid CurrentColor;
	        opacity: 0;
	    }
	    &:not(:disabled),
	    &:not(.disabled) {
	        &:hover {
	            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.26);
	            &:after {
	                opacity: 1;
	            }
	        }
	    }

	    &.btn-lg {
	        padding: 12px 35px;
	        font-size: 14px;
	    }
	    &.btn-sm {
	        padding: 5px 20px;
	        font-size: 12px;
	    }
	    &.as-btn-white {
	        background: $as-white;
	        color: $as-dark;
	        border-color: $as-white;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-white;
	                color: $as-dark;
	                border-color: $as-white;
	            }
	        }
	    }

	    &.as-btn-dark {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.as-btn-theme {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	    &.btn-secondary {
	        background: $as-dark;
	        color: $as-white;
	        border-color: $as-dark;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $as-dark;
	                color: $as-white;
	                border-color: $as-dark;
	            }
	        }
	    }
	    &.btn-primary {
	        background: $primary;
	        color: $as-white;
	        border-color: $primary;
	        &:not(:disabled),
	        &:not(.disabled) {
	            &:hover {
	                background: $primary;
	                color: $as-white;
	                border-color: $primary;
	            }
	        }
	    }
	}
}