.as-main-header {
    .navbar-nav {
        .dropdown-menu {
            &.o_mega_menu {
                padding: 0;
            }
        }
    }
}

/* Column
---------------------------------*/
.as-dynamic-megamenu {
    .as-mm-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        .as-mm-col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        &.as-mm-row-01 {
            .as-mm-col {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        &.as-mm-row-02 {
            .as-mm-col {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }
        }

        &.as-mm-row-03 {
            .as-mm-col {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);

                @include media-breakpoint-down(sm) {
                    flex: 0 0 calc(100% / 2);
                    max-width: calc(100% / 2);
                }
            }
        }

        &.as-mm-row-04 {
            .as-mm-col {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);

                @include media-breakpoint-down(sm) {
                    flex: 0 0 calc(100% / 2);
                    max-width: calc(100% / 2);
                }
            }
        }

        &.as-mm-row-05 {
            .as-mm-col {
                flex: 0 0 calc(100% / 5);
                max-width: calc(100% / 5);

                @include media-breakpoint-down(md) {
                    flex: 0 0 calc(100% / 3);
                    max-width: calc(100% / 3);
                }

                @include media-breakpoint-down(sm) {
                    flex: 0 0 calc(100% / 2);
                    max-width: calc(100% / 2);
                }
            }
        }

        &.as-mm-row-06 {
            .as-mm-col {
                flex: 0 0 calc(100% / 6);
                max-width: calc(100% / 6);

                @include media-breakpoint-down(md) {
                    flex: 0 0 calc(100% / 3);
                    max-width: calc(100% / 3);
                }

                @include media-breakpoint-down(sm) {
                    flex: 0 0 calc(100% / 2);
                    max-width: calc(100% / 2);
                }
            }
        }
    }
}



/*-----------------------------------------------------------------------------
* Product Grid Style
-----------------------------------------------------------------------------*/
.as-product-grid-mega-menu {
    .as-mm-col {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
    }
}

/* Product Grid Simple
---------------------------------*/
.as-product-grid-simple {
    .as-mm-product-grid {
        overflow: hidden;
        border: 1px solid $as-gray-300;
        border-radius: 10px;
        padding: 5px;
        position: relative;
        background: $as-white;
        height: 100%;
        .mm-img {
            position: relative;
            border-radius: 8px;
            overflow: hidden;

            &:after {
                content: "";
                padding-bottom: 100%;
                display: inline-block;
                vertical-align: top;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: ease all 0.35s;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                transform: scale(1);
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .mm-title {
            a {
                color: $as-dark;
                padding: 10px 5px 5px;
                display: block;
                text-align: center;
                font-weight: 500;
                text-decoration: none;
            }
        }

        &:hover {
            .mm-title {
                a {
                    color: $primary;
                }
            }

            .mm-img {
                img {
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    transform: scale(1.02);
                }
            }
        }
    }
}

/* Product Grid Modern
---------------------------------*/
.as-product-grid-modern {
    .as-mm-product-grid {
        .mm-img {
            position: relative;
            transform: translateY(0);
            transition: ease all 0.35s;
            border-radius: 50%;
            box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.05);
            overflow: hidden;
            border: 7px solid $as-white;

            &:after {
                content: "";
                padding-bottom: 100%;
                display: inline-block;
                vertical-align: top;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            a {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                background: $as-dark;
                border-radius: 50%;
                transition: ease all 0.35s;
                transform: scale(0);
                opacity: 0.4;
            }
        }

        .mm-title {
            padding-top: 10px;
            text-align: center;
            line-height: 1.2;
            font-size: 16px;

            a {
                color: inherit;
                padding-top: 5px;
                font-weight: 600;
                background: linear-gradient(45deg, currentColor, currentColor);
                background-size: 0 1px;
                background-repeat: no-repeat;
                background-position: left bottom;
                transition: ease all 0.35s;
                text-decoration: none;

                .as-dynamic-megamenu:not(.o_cc) & {
                    color: $as-dark;
                }
            }
        }

        &:hover {
            .mm-img {
                transform: translateY(-2px);

                a {
                    transform: scale(1);
                }
            }

            .mm-title {
                a {
                    background-size: 100% 1px;
                }
            }
        }
    }
}


/* Product Grid Classic 
---------------------------------*/
.as-product-grid-classic {
    .as-mm-product-grid {
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            top: 43%;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            z-index: -1;
            border-radius: 60px 50px 10px 10px;
            border: 1px solid $as-gray-300;
            box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.05);
        }

        .mm-img {
            position: relative;
            transform: translateY(0);
            transition: ease all 0.35s;
            border-radius: 50%;
            box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.05), 0px -4px 2px 0px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            border: 7px solid $as-white;
            margin: 0 15px;
            background: $as-white;

            &:after {
                content: "";
                padding-bottom: 100%;
                display: inline-block;
                vertical-align: top;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            a {
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba($primary, 0.8);
                border-radius: 50%;
                transition: ease all 0.35s;
                transform: scale(0);

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 20px;
                    height: 20px;
                    border-top: 4px solid $as-white;
                    border-right: 4px solid $as-white;
                    margin: auto;
                    transform: rotate(45deg) translate(-1px);
                }
            }
        }

        .mm-title {
            text-align: center;
            line-height: 1.2;
            font-size: 15px;

            a {
                color: inherit;
                font-weight: 600;
                text-decoration: none;
                padding: 13px 10px;
                display: inline-block;
                vertical-align: top;
                color: $as-dark;
            }
        }

        &:hover {
            .mm-img {
                transform: translateY(-2px);

                a {
                    transform: scale(1);
                }
            }

            .mm-title {
                a {
                    color: $primary;
                }
            }
        }
    }
}


/*-----------------------------------------------------------------------------
* Product List Style
-----------------------------------------------------------------------------*/

/* Product List Simple
---------------------------------*/
.as-product-list-simple {
    padding-top: 15px;
    padding-bottom: 15px;
    .as-mm-col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .as-mm-product-list {
        padding: 8px 0;
        padding-left: 20px;
        a {
            color: $as-dark !important;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            font-size: 15px;
            &:after {
                content: "";
                position: absolute;
                top: 7px;
                left: -20px;
                width: 8px;
                height: 8px;
                border-bottom: 2px solid lighten($primary, 15%);
                border-right: 2px solid $primary;
                transform: rotate(-45deg);
                
            }
            &:before {
                content:"";
                position: absolute;
                bottom: 0;
                right: auto;
                left: 0;
                height: 1px;
                width: 0px;
                background: currentColor;
                transition: ease all 0.35s;
            }
            &:hover {
                &:before {
                    width: 100%;
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

/* Product List Modern
---------------------------------*/
.as-product-list-modern {
    padding-top: 15px;
    padding-bottom: 15px;
    .as-mm-col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .as-mm-product-list {
        padding: 8px 0;
        padding-left: 20px;
        a {
            color: $as-dark !important;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            font-size: 15px;
            &:after {
                content: "";
                position: absolute;
                top: 7px;
                left: -15px;
                width: 8px;
                height: 8px;
                border: 1px solid $primary;
                border-radius: 50%;
                transition: all 0.6s ease-in-out;
                
            }
            &:before {
                content:"";
                position: absolute;
                bottom: 2px;
                right: auto;
                left: 0;
                height: 4px;
                width: 0px;
                background: $primary;
                transition: all 0.6s ease-in-out;
                opacity:0.3;
            }
            &:hover {
                color: $primary !important;
                &:after {
                    background: $primary;
                    transition: all 10ms ease-in-out;
                }
                &:before {
                    width: 100%;
                    right: 0;
                    left: auto;
                    transition: all 10ms ease-in-out;
                }
            }
        }
    }
}

/* Product List classic
---------------------------------*/
.as-product-list-classic {
    padding-top: 15px;
    padding-bottom: 15px;
    .as-mm-col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .as-mm-product-list {
        padding: 6px 0px;
        border-bottom: 1px solid #eee;
        margin: 0 0 10px;
        a {
            color: $as-dark !important;
            font-weight: 500;
            text-decoration: none;
            &:hover {
                color: $primary !important;
            }
        }
    }
}


/*-----------------------------------------------------------------------------
* Category Grid Style
-----------------------------------------------------------------------------*/
.as-category-grid-mega-menu {
    .as-mm-col {
        padding: 20px 10px;
    }
}


/* Product Grid Simple
---------------------------------*/
.as-category-grid-simple {
    .as-mm-category-grid {
        .mm-img {
            border-radius: 5px;
            overflow: hidden;
            padding: 5px;
            border: 1px solid $as-gray-300;
            background: $as-white;
            margin: 0 0 10px;

            img {
                border-radius: 5px;
                transform: scale(1);
                transition: ease all 0.35s;
            }
        }

        .mm-title {
            padding: 10px 0 5px;
            position: relative;
            margin: 0 0 15px;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background: $primary;
                width: 18px;
                height: 2px;
            }

            a {
                color: $as-dark !important;
                font-weight: 600;
                font-size: 18px;
                text-decoration: none;
            }
        }

        .mm-sub-cat {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                +li {
                    margin-top: 8px;
                }

                a {
                    color: $body-color !important;
                    position: relative;
                    text-decoration: none;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: auto;
                        bottom: 0;
                        width: 0px;
                        height: 1px;
                        background: currentColor;
                        transition: ease all 0.35s;
                    }

                    &:hover {
                        color: $primary !important;

                        &:after {
                            width: 100%;
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }

        &:hover {
            .mm-img {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

/* category Grid Modern
---------------------------------*/
.as-category-grid-modern {
    .as-mm-category-grid {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .mm-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            transition: ease all 0.35s;
            background: $as-white;

            a {
                pointer-events: none;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: ease all 0.35s;
            }
        }

        .mm-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            position: relative;
            opacity: 0;
            transition: ease all 0.35s;

            a {
                color: $primary;
                position: relative;
                z-index: 1;
                display: inline-block;
                vertical-align: top;
                padding: 2px 12px;
                text-decoration: none;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-image: linear-gradient(45deg, $as-white, $as-white);
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    transition: ease all 0.35s;
                }
            }
        }

        .mm-sub-cat {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            opacity: 0;
            transition: ease all 0.35s;

            li {
                +li {
                    padding-top: 8px;
                }
            }

            a {
                color: $body-color !important;
                position: relative;
                text-decoration: none;
                z-index: 1;
                display: inline-block;
                vertical-align: top;
                padding: 2px 10px;
                font-size: 14px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-image: linear-gradient(45deg, $as-white, $as-white);
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    transition: ease all 0.35s;
                }

                &:hover {
                    color: $primary !important;
                }
            }
        }

        &:hover {
            .mm-img {
                background: $as-black;

                img {
                    opacity: 0.4;
                    transition: ease all 0.35s;
                }
            }

            .mm-title {
                opacity: 1;

                a {
                    &:after {
                        background-size: 100% 100%;
                    }
                }
            }

            .mm-sub-cat {
                opacity: 1;

                a {
                    &:after {
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}


/* category Grid Classic 
---------------------------------*/
.as-category-grid-classic {
    .as-mm-category-grid {
        .mm-img {
        	position: relative;
        	&:before,
        	&:after {
        		content: "";
				position: absolute;
        		width: 0;
				height: 0;
				transition: ease all 0.35s;
				pointer-events: none;
        	}
        	&:after {
				top: 10px;
				left: 10px;
				border-top: 1px solid $as-dark;
				border-left: 1px solid $as-dark;
        	}
        	&:before {
			    bottom: 10px;
			    right: 10px;
			    border-bottom: 1px solid $as-dark;
			    border-right: 1px solid $as-dark;
        	}
        }

        .mm-title {
            border-bottom: 1px solid $as-gray-300;
            position: relative;
            margin: 0 0 25px;
            padding-bottom: 10px;
            margin-top: 20px;

            &:after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                height: 3px;
                background: $primary;
                width: 25px;
            }

            a {
                color: $as-dark !important;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 15px;
                text-decoration: none;
            }
        }
        .mm-sub-cat {
        	margin: 0;
		    padding: 0;
		    list-style: none;
		    li {
		    	+ li {
		    		margin-top: 8px;
		    	}
		    	a {
		    		color: $body-color !important;
    				font-size: 15px;
    				text-decoration: none;
    				position: relative;
    				&:after {
    					content:"";
    					position: absolute;
					    left: -12px;
					    top: 6px;
					    width: 7px;
					    height: 7px;
    					border-radius: 50%;
    					background: currentColor;
    					opacity: 0;
    				}
    				&:hover {
    					color: $primary !important;
    					&:after {
    						opacity: 1;
    						animation: mm_blinker 1s linear infinite;
    					}
    				}
		    	}
		    }
        }

        &:hover {
        	.mm-img {
	        	&:after,
	        	&:before {
				    width: 25%;
				    height: 25%;
	        	}
	        }
        }
    }
}

@keyframes mm_blinker {
  50% {
    opacity: 0;
  }
}


/*-----------------------------------------------------------------------------
* Category List Style
-----------------------------------------------------------------------------*/

/* category List Simple
---------------------------------*/
.as-category-list-simple {
    .as-mm-category-list {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        .mm-title {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 20px;
            position: relative;
            a {
                color: $as-dark;
                text-decoration: none;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        .mm-sub-cat {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                +li {
                    padding-top: 8px;
                }
            }

            a {
                color: $body-color !important;
                text-decoration: none;
                font-size: 15px;
                &:hover {
                    color: $primary !important;
                }
            }
        }

    }
}

/* category List Modern
---------------------------------*/
.as-category-list-modern {
    .as-mm-category-list {
        .mm-title {
            padding: 0 0 10px;
            position: relative;
            margin: 0 0 20px;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background: $primary;
                width: 18px;
                height: 2px;
            }

            a {
                color: $as-dark !important;
                font-weight: 600;
                font-size: 18px;
                text-decoration: none;
            }
        }

        .mm-sub-cat {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                +li {
                    margin-top: 8px;
                }

                a {
                    color: $body-color !important;
                    position: relative;
                    text-decoration: none;
                    font-size: 15px;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: auto;
                        bottom: 0;
                        width: 0px;
                        height: 1px;
                        background: currentColor;
                        transition: ease all 0.35s;
                    }

                    &:hover {
                        color: $primary !important;

                        &:after {
                            width: 100%;
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }   
}

/* category list Classic 
---------------------------------*/
.as-category-list-classic {
    .as-mm-category-list {

        .mm-title {
            border-bottom: 1px solid $as-gray-300;
            position: relative;
            margin: 0 0 25px;
            padding-bottom: 10px;
            margin-top: 20px;

            &:after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                height: 3px;
                background: $primary;
                width: 25px;
            }

            a {
                color: $as-dark !important;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 15px;
                text-decoration: none;
            }
        }
        .mm-sub-cat {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                + li {
                    margin-top: 8px;
                }
                a {
                    color: $body-color !important;
                    font-size: 15px;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        content:"";
                        position: absolute;
                        left: -12px;
                        top: 6px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: currentColor;
                        opacity: 0;
                    }
                    &:hover {
                        color: $primary !important;
                        &:after {
                            opacity: 1;
                            animation: mm_blinker 1s linear infinite;
                        }
                    }
                }
            }
        }
    }
}