.box_welcome{
    margin: 0 auto;
    text-align: center;
}

.box_welcome p{
    font-size: 14px;
}

.text_promocion{
    background-color: #fdf9d8;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 15px;
    margin-top: 15px;
}

#box_main{
    margin-top: 35px;
}

#box_main .h{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

#box_promo hr{
    margin-top: 30px;
}

#box_promo p{
    margin-bottom: 80px;
    margin-top: 30px;
}

#box_footer{
    margin-bottom: 80px;
}

#box_footer .question{
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 30px;
}
#box_footer a{
    color: #7c3492;
}

.box_welcome div ul{
    list-style-type: none
}