.as_offer_banner {
	.offer_timer_section {
		ul {
			margin: 0;
			padding: 15px 0 5px;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
		}
		li{
			background: rgba($white, 0.08);
			padding: 10px 20px;
			display: flex;
			flex-direction: column;
			margin-right: 8px;
			margin-bottom: 8px;
			text-align: center;
			@media(max-width: 991px){
				padding: 5px 10px;
			}
			span {
				font-size: 46px;
				font-weight: 600;
				line-height: 1.1;
				margin: 0;
				@media(max-width: 991px){
					font-size: 28px;
				}
			}
			label {
				font-size: 13px;
				font-weight: 400;
				padding: 5px 0 0;
				text-transform: uppercase;
				@media(max-width: 991px){
					font-size: 12px;
				}
			}
		}
	}
}