.as-product-banner-snippet {
	padding-bottom: 40px;
	padding-top: 40px;
	.swiper {
		.swiper-button-next {
			right: -5px;
		}
		.swiper-button-prev {
			left: -5px;
		}
		.swiper-button-next,
		.swiper-button-prev {
		    top: 0;
		    bottom: 50px;
		    margin: auto;
		    width: 25px;
    		height: 45px;
    		background: $as-dark;
    		color: $as-white;
    		opacity: 0;
    		transition: ease all 0.35s;
    		z-index: 1;
    		&:after {
    			font-size: 17px;
    		}
		}
		&:hover {
			.swiper-button-next {
				opacity: 1;
				right: 0;
			}
			.swiper-button-prev {
				opacity: 1;
				left: 0;
			}
			.swiper-button-disabled {
				opacity: 0.5;
			}
		}
	}
	.swiper-pagination {
		position: relative;
		margin-top: 25px;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		.swiper-pagination-bullet {
			width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			font-size: 10px;
			color: $as-black;
			opacity: 1;
			background: rgba($as-black, 0.2);
			margin: 0 3px;
			&.swiper-pagination-bullet-active {
				background: $primary;
				color: $as-white;
			}
		}
	}

	.swiper-pagination-fraction {
	    display: inline-flex;
	    justify-content: center;
	    font-size: 12px;
	    align-items: center;
	    span {
			background: $as-gray-300;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			margin: 0 7px;
			font-size: 16px;
			display: inline-block;
			align-items: center;
			justify-content: center;
			&.swiper-pagination-current {
				background: $primary;
				color: $as-white;
			}
	    }
	}


	@include media-breakpoint-up(md) {
		.swiper-slide {
			height: auto;
			> .container {
				height: 100%;
			}
			.row {
				min-height: 100%;
			}
			.as-product-info {
				min-height: 100%;
			}
		}
	}

	.order-right {
		order: 1;
	}
	.as-product-info {
		padding: 20px;
		margin: 10px;
		box-shadow: $box-shadow;
		background: $as-white;
		max-width: 400px;
		margin: 0 auto;

		.prod_rating {
            position: relative;
            margin-bottom: 20px;
            display: flex;
            letter-spacing: 2px;
            i {
                color: #a7a7a7;
                display: inline-flex;
            }

            .fa-star {
                color: #ffb300;
            }

            span {
                display: none;
            }
        }
        .as-ribbon-tag {
			margin: 0 0 8px;
			span {
				background-color: $primary;
			    color: $as-white;
			    display: inline-block;
			    padding: 3px 10px;
			    font-size: 12px;
		    }
		}
		.as-product-title {
			margin-bottom: 10px;
			a {
				font-size: 18px;
				color: $as-dark;
				font-weight: 600;
				text-decoration: none;
			}
		}
		.as-product-price {
			font-size: 20px;
			b {
				font-weight: 600;
			}
		}
		.as-product-action {
			padding-top: 25px;
		}
		.o_product_page_reviews_link {
			pointer-events: none;
		    display: inline-block;
			font-size: 14px;
		}
		.js_add_cart_variants {
			margin: 0;
		}
		.variant_attribute {
			.attribute_name:after {
				display: none
			}
		}
	}
	.product-img {
	    display: flex;
	    height: 100%;
	    justify-content: center;
	    align-items: center;
	}
}