@if o-website-value('shop-template')=='alan_shop3' {
	// Shop Product Box
    .o_wsale_products_main_row {
        #products_grid {
            .products_pager {
                padding-top: 35px !important;
            }
        }
    }

    #products_grid {
        .o_wsale_products_grid_table_wrapper {
            margin: -10px;
        }
        .oe_product {
            padding: 10px !important;

            .o_wsale_product_grid_wrapper {
                border: none;
            }
        }

        .oe_product_cart {
            .oe_product_image {
                height: auto;
                padding: 0 !important;
                position: relative;
                >.d-block {
                    overflow: hidden;
                    position: relative;
                    >span {
                        position: relative;

                        &:before {
                            content: "";
                            padding-bottom: 100%;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        max-width: 100%;
                        max-height: 100%;
                        transform: scale(1);
                        transition: ease all 0.35s;
                    }
                }

                .as-btn-actions {
                    position: absolute;
                    bottom: -10px;
                    right: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 10px;
                    opacity: 0;
                    z-index: 1;
                    transition: ease all 0.35s;
                    .btn {
                        width: 35px;
                        height: 35px;
                        line-height: 1;
                        padding: 0;
                        text-align: center;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        background: $as-white !important;
                        border-radius: 3px;
                        box-shadow: 0px 0px 19px -4px rgba($as-black, 0.13);
                        margin: 0 3px 8px;
                        color: $as-dark;
                        .fa {
                            background-repeat: no-repeat;
                        }

                        .fa-spin {
                            margin: 0 !important;
                        }

                        &.as-btn-loading {
                            pointer-events: none;

                            .fa {
                                animation: fa-spin 2s infinite linear;
                                background-image: $as-loading-icon-dark;
                                margin: 0;
                            }

                            &:hover {
                                .fa {
                                    background-image: $as-loading-icon-light;
                                }
                            }
                        }

                        .fa-refresh {
                            background-image: $as-loading-icon-dark;
                            margin: 0;
                            width: 16px;
                            height: 16px;

                            &:before {
                                display: none;
                            }
                        }

                        .fa-search {
                            background-image: $as-similar-icon-dark;
                            width: 16px;
                            height: 16px;

                            &:before {
                                display: none;
                            }
                        }

                        .fa-eye {
                            background-image: $as-eye-icon-dark;
                            width: 16px;
                            height: 16px;

                            &:before {
                                display: none;
                            }
                        }

                        &:hover {
                            background: $as-dark !important;
                            color: $as-white;
                            .fa-refresh {
                                background-image: $as-loading-icon-light;
                            }

                            .fa-search {
                                background-image: $as-similar-icon-light;
                            }

                            .fa-eye {
                                background-image: $as-eye-icon-light;
                            }
                        }
                    }
                }
            }

            .o_wsale_product_btn {
                width: 100%;
                text-align: center;
                padding: 0 10px 20px !important;
                display: flex;
                justify-content: center;
                position: relative;
                opacity: 1;
                .btn {
                    width: 35px;
                    height: 35px;
                    line-height: 1;
                    padding: 0;
                    text-align: center;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: $as-dark !important;
                    margin: 0 3px;
                    border-radius: 3px;
                    transform: scale(1);
                    opacity: 1;
                    &:hover {
                        background: $primary !important;
                    }

                    .fa {
                        background-repeat: no-repeat;
                    }

                    .fa-spin {
                        margin: 0 !important;
                    }

                    &.as-btn-loading {
                        pointer-events: none;

                        .fa {
                            animation: fa-spin 2s infinite linear;
                            background-image: $as-loading-icon-light;
                            margin: 0;
                        }
                    }

                    .fa-refresh {
                        background-image: $as-loading-icon-light;
                        margin: 0;
                        width: 20px;
                        height: 20px;

                        &:before {
                            display: none;
                        }
                    }
                }

                .fa-shopping-cart {
                    background-image: $as-cart-icon-light;
                    width: 18px;
                    height: 18px;
                    margin-left: -3px;

                    &:before {
                        display: none;
                    }
                }

                .fa-heart {
                    background-image: $as-heart-icon-light;
                    width: 18px;
                    height: 18px;

                    &:before {
                        display: none;
                    }
                }

                .o_add_wishlist {

                    &:disabled,
                    &.disabled,
                    &[disabled] {
                        .fa-heart {
                            background-image: $as-heart-icon-light-fill;
                        }
                    }
                }

                .fa-exchange {
                    background-image: $as-compare-icon-light;
                    width: 18px;
                    height: 18px;

                    &:before {
                        display: none;
                    }

                }
            }

            .o_wsale_product_information {
                .o_wsale_product_information_text {
                    text-align: center;
                    padding: 15px 10px 10px !important;
                    .o_wsale_products_item_title {
                        a {
                            color: $as-dark !important;
                        }
                    }

                    .product_price {
                        .h5 {
                            font-size: 15px;
                            color: $primary;
                        }
                    }
                }
            }

            .prod_rating {
                position: relative;
                margin-bottom: 10px;
                display: flex;
                letter-spacing: 2px;
                justify-content: center;
                font-size: 13px;
                i {
                    color: #a7a7a7;
                    display: inline-flex;
                }

                .fa-star {
                    color: #ffb300;
                }

                span {
                    display: none;
                }
            }

            &:hover {
                .as-btn-actions {
                    opacity: 1;
                    bottom: 0px;
                }
                .oe_product_image {
                    >.d-block {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }



    // List View
    #products_grid {
        &.o_wsale_layout_list {
            .oe_product_cart {
            	border: 1px solid $as-gray-300 !important;
                .o_wsale_product_information {
                    flex-direction: column;
                    padding: 15px !important;

                }

                .o_wsale_product_information_text {
                    margin: 0;
                    padding: 0 !important;
                    text-align: left;
                    .prod_rating {
                    	justify-content: flex-start;
                    }
                    .o_wsale_products_item_title {
                        border: none;
                        margin: 0;
                        font-size: 1rem;
                    }
                }

                .oe_product_image {
                    padding: 0 !important;
                    position: relative;

                    >.d-block {
                        &:after {
                            display: none;
                        }
                    }
                }

                .o_wsale_product_btn {
                    padding: 0 !important;
                    justify-content: flex-start;
                    opacity: 1;
                }
            }
        }
    }


    // Shop Sidebar
    #products_grid_before {
        border-right: 1px solid $as-gray-300 !important;
        @include media-breakpoint-up(lg) {
            flex: 0 0 300px;
            max-width: 300px;
        }

        .products_categories {
        	margin-bottom: 1.8rem !important;
            .nav-item {
                +.nav-item {
                    padding-top: 15px;
                }

                i.fa {
                    text-align: right;
                    line-height: 1;
                    font-size: 0;
                    height: 24px;
                    width: 24px;
                    position: relative;
                    color: $primary;
                    &:after,
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        background-color: currentColor;
                        transition: ease all 0.35s;
                    }
                    &.fa-chevron-down {
                        &:after {
                            width: 14px;
                            height: 2px;
                        }
                        &:before {
                            width: 0;
                            height: 0;
                        }
                    }

                    &.fa-chevron-right {
                        &:after {
                            width: 14px;
                            height: 2px;
                        }
                        &:before {
                            width: 2px;
                            height: 14px;
                        }
                    }
                }
            }

            .custom-radio {
                margin: 0 !important;
                padding: 0;
            }

            .nav-hierarchy {
                padding-top: 12px;
                margin-left: 15px;
                padding-bottom: 8px;
            }
        }
    }

    // Box
    #products_grid_before {
        .products_categories {
            .o_categories_collapse_title {
			    border-bottom: 1px solid $as-gray-300;
        	    width: 100%;
			    display: inline-block;
			    vertical-align: top;
			    margin: 0 0 25px;
			    padding: 0 0 8px;
			    position: relative;
			    text-transform: none !important;
			    font-size: 18px;
			    font-weight: 500;
			    &:after {
		    	    content: "";
				    width: 35px;
				    height: 3px;
				    background: $primary;
				    position: absolute;
				    left: 0px;
				    bottom: -2px;
			    }
            }

            #wsale_products_categories_collapse {
                >.nav {
                    margin: 0 !important;
                }
            }
        }

        #wsale_products_attributes_collapse {
        	margin-bottom: 30px;
            .js_attributes {
                >a {
                    &.btn.btn-link {
                        background: $primary;
                        display: inline-block;
                        margin-bottom: 15px;
                        padding: 5px 15px !important;
                        text-decoration: none !important;
                        color: $as-white;
                        font-size: 14px;

                        &:hover {
                            background: $as-dark;
                        }

                        u {
                            text-decoration: none;
                        }
                    }
                }

                .nav {
                    >.nav-item {
                        margin-bottom: 1.8rem !important;
                        &:last-child {
                        	margin-bottom: 0 !important;
                        }
                        .o_products_attributes_title {
                            border-bottom: 1px solid $as-gray-300;
					        width: 100%;
						    display: inline-block;
						    vertical-align: top;
						    margin: 0 0 25px !important;
						    padding: 0 0 8px;
						    position: relative;
						    text-transform: none !important;
						    font-size: 18px;
						    font-weight: 500;
						    &:after {
					    	    content: "";
							    width: 35px;
							    height: 3px;
							    background: $primary;
							    position: absolute;
							    left: 0px;
							    bottom: -2px;
						    }
                        }
                        .flex-column {
                            border: none;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .flex-column {
                        .custom-control {
                            display: flex;
                            margin: 0 !important;
                            + .custom-control {
                            	margin: 15px 0 0 !important;
                            }
                            .as-count {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }

        #o_wsale_price_range_option {
            > label {
                border-bottom: 1px solid $as-gray-300;
                padding: 0 0 15px;
                width: 100%;
                margin: 0;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                &:after {
                	content: "";
				    width: 35px;
				    height: 3px;
				    background: #343a40;
				    position: absolute;
				    left: 0px;
				    bottom: -2px;
                }
            }

            .multirange-wrapper {
                margin: 15px 0 0;
            }
        }

        .rating-attr-box {
            strong {
                font-size: 0.9rem;
            }

            .rating-attr-ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                label {
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    span {
                        +span {
                            margin-left: auto;
                            font-weight: 400;
                        }
                    }

                    &.active {
                        span[class*="star-"] {
                            color: $as-dark;
                            font-weight: 500;
                            .fa {
                                color: #ffb300;
                            }
                        }
                    }
                }

                .fa {
                    color: darken($as-gray-300, 14%);
                    margin-right: 2px;
                }

                span[class*="star-"] {
                    font-weight: 400;
                }

                .star-4 {
                    .fa-star-o {
                        &:before {
                            content: "\f005";
                        }
                    }
                }

                .star-3 {
                    .fa-star-o {
                        &:before {
                            content: "\f005";
                        }

                        &:last-child {
                            &:before {
                                content: "\f006";
                            }
                        }
                    }
                }

                .star-2 {
                    .fa-star-o {
                        &:nth-child(1),
                        &:nth-child(2) {
                            &:before {
                                content: "\f005";
                            }
                        }
                    }
                }

                .star-1 {
                    .fa-star-o {
                        &:nth-child(1) {
                            &:before {
                                content: "\f005";
                            }
                        }
                    }
                }
            }
        }

        .as-shop-tags {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            label {
                font-weight: 500;
                cursor: pointer;
                border: 1px solid $as-gray-300;
                padding: 3px 8px;
                border-radius: 3px;
                font-size: 14px;
                margin-right: 6px;
                margin-bottom: 6px;

                &.active {
                    background: $primary;
                    border-color: $primary;
                    color: $as-white;

                }

                &:hover:not(.active) {
                    border-color: $as-gray-300;
                    background: #f4f6ff;
                }

                input[type="checkbox"] {
                    opacity: 0;
                    position: absolute;
                }

                span {
                    span {
                        margin-left: 6px;
                    }
                }
            }
        }
    }

    // Default checkbox
    .oe_website_sale {
        #products_grid_before {
            .custom-control {
            	padding-left: 0;
            	margin-bottom: 10px;
	        	.custom-control-label {
	        		color: $body-color;
	        		&:before,
	                &:after {
	                	display: none;
	                }
	            }
	            .custom-control-input {
	                &:checked {
	                    ~ .custom-control-label {
	                    	color: $primary;
	                    }
	                }
	            }
                &.custom-checkbox {
                }
            }
        }
    }

}